.quiz-container {

    .quiz-form {

        .question-desc {
            display: block;
        }

        p.option-text {
            margin-right: 5px !important;
        }

        p {
            display: inline-block;
            margin-right: 35px;
        }
    }

}