.quiz-container {

    .quiz-form {

        .question-desc {
            display: block;
        }

        .option-text {
            margin-right: 35px !important;

            input {
                display: inline-block;
                margin-right: 5px;
            }
        }

    }

}